/* Below 700 */

@media (max-width: 720px) {
  h1 {
    font-size: 4rem;
  }

  .paragraph-hero {
    font-size: 1rem;
    max-width: 50rem;
    align-items: center;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background-color: #397eaf;
    height: 100vh;
    width: 300px;
    top: 0;
    right: -300px;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }

  .links {
    flex-direction: column;
    gap: 4rem;
    padding: 5rem;
  }

  nav .fa {
    display: block;
    font-size: 28px;
    margin: 24px;
    cursor: pointer;
    color: white;
  }

  /* CARD */
  .cards {
    flex-direction: column;
    padding: 4rem 3rem;
    gap: 2rem;
    position: relative;
  }

  .paragraph-card {
    font-size: 1.2rem;
  }

  .card-3 {
    display: none;
  }
}
