* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

html {
  font-size: 10px;
}

.header {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgb(4, 9, 30, 0.4), rgb(4, 9, 30, 0.4)),
    url(assets/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-img {
  width: 15rem;
}

.links {
  display: flex;
  gap: 5rem;

  list-style: none;
}

.links a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #f44336;
  margin: auto;
  display: block;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 26rem;
  color: white;
}
h1 {
  font-size: 6.6rem;
  text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.377);
}

.text-box p {
  font-size: 14px;
}
.btn {
  text-decoration: none;
  display: inline-block;
  padding: 12px 34px;
  border: 1px solid white;
  font-size: 1.2rem;
  color: white;
  position: relative;
  cursor: pointer;
  margin-top: 3.2rem;
}

.btn:hover {
  border: 1px solid #397eaf;
  background-color: #397eaf;
  box-shadow: 0px 4px 24px rgba(32, 125, 211, 0.277);
  transition: 0.5s;
}

nav .fa {
  display: none;
}
