* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

html {
  font-size: 10px;
}

.header {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgb(4, 9, 30, 0.4), rgb(4, 9, 30, 0.4)),
    url(assets/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-img {
  width: 15rem;
}

.links {
  display: flex;
  gap: 5rem;

  list-style: none;
}

.links a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #f44336;
  margin: auto;
  display: block;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 26rem;
  color: white;
}
.text-box h1 {
  font-size: 6.6rem;
  text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.377);
}

.text-box p {
  font-size: 14px;
}
.btn {
  text-decoration: none;
  display: inline-block;
  padding: 12px 34px;
  border: 1px solid white;
  font-size: 1.2rem;
  color: white;
  position: relative;
  cursor: pointer;
  margin-top: 3.2rem;
}

.btn:hover {
  border: 1px solid #397eaf;
  background-color: #397eaf;
  box-shadow: 0px 4px 24px rgba(32, 125, 211, 0.277);
  transition: 0.5s;
}

nav .fa {
  display: none;
}

/*************** Courses  ****************/

.text-course {
  text-align: center;
  padding: 8px 20px;
}

.text-course h1 {
  font-size: 5rem;
  margin-top: 8rem;
}

.para {
  font-size: 1.4rem;
  margin-top: 1.2rem;
}

.heading-card {
  font-size: 2.4rem;
}

.paragraph-card {
  max-width: 42rem;
  font-size: 1.2rem;
}
.card {
  text-align: center;
  background-color: #a1d8ff;
  padding: 4rem 4rem;
  cursor: pointer;
}
.cards {
  display: flex;
  justify-content: space-between;
  padding: 4rem 20rem;
}

.card:hover {
  box-shadow: 0px 4px 28px rgba(160, 207, 255, 0.519);
  transform: translateY(-1rem);
  transition: 0.4s;
}

/* Section-global */
.section-campus {
  padding: 4% 6%;
}
.campus-header {
  font-size: 5rem;
}

.text-campus {
  text-align: center;
}

.campus-col {
  position: relative;
}

.campus-col-header {
  font-size: 2.6rem;
  color: white;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.427);
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.campus-col img {
  border-radius: 5px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
